



html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

img {
    max-width: 100%;
    height: auto;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
 /* position: fixed;
 top: 0; */
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 1370px;
    margin: auto;
}

.gift-boxes {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gift-boxes img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    margin: 0;      
    max-width: 1370px;
}


.logo img {
    width: 120px;
    height: 100px;
    margin-left: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 22px;
}

nav ul li {
    display: inline-block;
    font-family: sans-serif;
    font-size: 21px;
    margin-left:10px; 
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bolder;
}

.app-buttons {
    display: flex;
    gap: 15px;
}

.get-app-btn,
.cart-btn {
    background-color: black;
    color: #5AAEE7;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
}
.user{
    display: grid;
    grid-template-columns: repeat(2,50px);
}



.gift-boxes {
    display: flex;
    justify-content: center;
 
}


.gift-boxes img {
    position: relative;
    width: 1500px;
    height: 380px;
 
}



.below_banner {
    display: grid;
    grid-template-columns: repeat(5, 200px); 
    justify-content: center; 
    gap: 28px; 
    text-align: center; 
    background-color: #f5f5dc;
}

.below_banner .item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.below_banner img {
    height: 170px; 
    width: 170px; 
    margin-top: 60px;
    
}

.below_banner b {
    margin-top: 20px;
    font-size: 15px; 
    color: #000000; 
    font-family: sans-serif;
}

.cookies img{
    height: 380px;
    width: 1000px;
    margin-top: 90px;
}

.cookies{
    display: grid;
    grid-template-columns: repeat(2,590px);
    justify-content: center;
    gap: 18px;
    background-color: #f5f5dc;
    margin-top: -20px;
}

.best{
    margin-left: 75px;
    margin-top: 55px;
    font-size: 60px;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s;
    margin-left: 20px;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.product-card p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #000000;
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.promo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    max-width: 1200px;
    margin-top: 50px;
    margin-left: 70px;
   
  
}
.text-section {
    flex: 1;
    padding: 20px;
    
}

.text-section h1 {
    font-size: 2.7em;
    color: #333;
    margin-top: -80px;
}

.text-section h1 span {
    font-style: italic;
}

.text-section p {
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 30px;
}

button {
    background-color: #cbe6e0;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a3d2c2;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-section img {
    width: 100%;
    max-width: 500px;
    height: 350px;
    border-radius: 10px;
}

.subscription-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
    gap: 310px;
    margin-top: 50px;
    background-color: #f5f5dc;
}

.text-content {
    max-width: 50%;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

h1 em {
    font-style: italic;
}

p {
    font-size: 24px;
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

ul li strong {
    color: #000;
}

.subscribe-button {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #dbeff7;
    border: none;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #bed7e7;
}

.image-content img {
    max-width: 400px;
    height:400px
}

.subscription-section {
    text-align: center;
    padding: 50px;
    color: #2f2f2f;
}

.subscription-section h1 {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.subscription-section .sub-text {
    font-size: 15px;
    margin-bottom: 40px;
}

.custom-options {
    display: grid;
    grid-template-columns: repeat(5, 160px);
    gap: 20px;
    justify-content: center;
    margin-top: 60px;
    
}

.custom-options .option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-options .option img {
    width: 110px;
    height: 100px;
    margin-bottom: 10px;
}

.custom-options .option p {
    
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    text-align: center;

}
.text{
    text-align: center;
    
}

.video {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video video {
    width: 80%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 80px;
}

.testimonials {
    text-align: center;
    padding: 40px 20px;
    margin-top: 15px;
   
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    
}

.bird-icon {
    width: 110px;
    height: 100px;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    display: inline-block;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonial {
    background-color: #FFF9EF;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
   
}

.testimonial-text {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 15px;
    line-height: 1.6;
    min-height: 120px; 
}

.customer-name {
    font-weight: bold;
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 10px;
}
.stars{
    color: #ffcc00;
    font-size: 1.5rem;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.news-section {
    text-align: center;
}

.news-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000000;
    margin-left: -898px;
}

.news-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
}

.image-section img {
    max-width: 100%;
    border-radius: 10px;
    height: 420px;
}

.text-section {
    text-align: left;
    max-width: 400px;
    margin-left: 20px;
    margin-top: 100px;
}

.text-section h2 {
    font-size: 1.9rem;
    color: #000000;
    margin-bottom: 10px;
    line-height: 1.5;
}

.see-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D3EDF4;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
   
}

footer {
    background-color: #D2ECF3;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 68px;
    color: #020202;
    line-height: 1.5;
    margin-top: -20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
   
}

.footer-column h2, .footer-column h3 {
    font-size: 16px;
    color: #000;
}

.footer-column p, .footer-column ul {
    font-size: 14px;
    color: #000000;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    text-decoration: none;
    color: #000000;
    
}

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top:12px;
}

.newsletter input[type="email"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #333;
    border-radius: 4px;
}

.newsletter button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 20px;
    height: 20px;
}

.footerlogo{
    margin-left: -13px;
}
